<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473058359900-tr34lfkgjl5u1re006b8cg7tac96bduq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473058359900-tr34lfkgjl5u1re006b8cg7tac96bduq</string>
	<key>API_KEY</key>
	<string>AIzaSyD6iegQ29KnCgao9tugGYmPrgoGhrZQVt0</string>
	<key>GCM_SENDER_ID</key>
	<string>473058359900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.launderez.driver</string>
	<key>PROJECT_ID</key>
	<string>warm-utility-271513</string>
	<key>STORAGE_BUCKET</key>
	<string>warm-utility-271513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473058359900:ios:cde9ce1d967cbd621c0499</string>
	<key>DATABASE_URL</key>
	<string>https://warm-utility-271513.firebaseio.com</string>
</dict>
</plist>