<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaundrEZ Driver.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
				<key>dateExpires</key>
				<string>06/07/2021</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BVLinearGradient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CoreModules.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DoubleConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBReactNativeSpec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTAnimation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTBlob.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTLinking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTSettings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTTypeSafety.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RCTVibration.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCAsyncStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCMaskedView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNCPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNDateTimePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNDeviceInfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNFBApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNFBCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNFastImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNGestureHandler.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNInputMask.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNReanimated.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNSVG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNScreens.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNSecureKeyStore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNVectorIcons.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>cxxreact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>folly.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>glog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>jsi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>jsinspector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>jsireact.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_fbsdk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_geolocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_maps.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_netinfo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_safe_area_context.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_splash_screen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_text_input_mask.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_webview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3B06D8EE39E5F2CC65244CE56038AD1E90494EE4</string>
						<key>dateExpires</key>
						<string>06/07/2021</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3G5V577B3</string>
						<key>name</key>
						<string>LaundrEZ</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y3G5V577B3.com.launderez.driver</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y3G5V577B3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Y3G5V577B3.com.launderez.driver</string>
				</array>
			</dict>
			<key>name</key>
			<string>LaundrEZ Driver.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e801d4ad-a8cf-4975-adef-675f189c2201</string>
				<key>name</key>
				<string>launderEz dist driver adhoc profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y3G5V577B3</string>
				<key>name</key>
				<string>LaundrEZ</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
