.Toastify__toast--success {
  background: $success-color !important;
  border-radius: 15px !important;
}

.Toastify__toast--error {
    // background: $primary-states-color !important;
    border-radius: 15px !important;
  }
