img {
  max-width: 100%;
  border-radius: $border-radius-small;
}

.img-raised {
  box-shadow: $box-shadow-raised;
}

.table-image {
  width: 4rem;
  height: auto;
}

.login-bg {
  background: url("../../img/login-bg.svg");
  height: 100%;
}